@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --color-secondary: #FBBF24;
}

*{
  font-family: Outfit;
}

.font-playfair {
  font-family : Playfair !important;
}